body{
	padding: 0;
	margin: 0;
	background-color: #EDECEC;
}
header{
	width: 100%;
	overflow: hidden;
	background: -moz-linear-gradient(top, #1B3952, #2D5E87);
	z-index: 30;
}
img{
	width: 100%;
	height: 100%;
}
table{
	padding: 0;
	margin: 0 auto;
}
table tbody,thead,tr,th,td{
	padding: 0;
	margin: 0 auto;
}
button{
	margin: 0;
	padding: 0;
	border: 0;
}
input{
	margin: 0;
	padding: 0;
	border: 0;
}
nav ul,li{
	list-style: none;
	padding: 0;
	margin: 0 auto;
}
a{
	text-decoration: none;
}
hr{
	margin-top: 2px;
	margin-bottom: 2px;
}
p{
	padding: 0;
	margin: 0 auto;
}