<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>
  </context-param>
  <!-- Filters -->
  <filter>
    <filter-name>openSessionInViewFilter</filter-name>
    <filter-class>org.springframework.orm.hibernate5.support.OpenSessionInViewFilter</filter-class>
    <init-param>
      <param-name>flushMode</param-name>
      <param-value>ALWAYS</param-value>
    </init-param>
    <init-param>
      <param-name>sessionFactoryBeanName</param-name>
      <param-value>sessionFactory</param-value>
    </init-param>
    <init-param>
      <param-name>singleSession</param-name>
      <param-value>false</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>CharacterEncoding</filter-name>
    <filter-class>mx.ipn.escom.socialwriters.filtros.CharacterEncoding</filter-class>
  </filter>
  <filter>
  	<filter-name>LogInActivo</filter-name>
  	<filter-class>mx.ipn.escom.socialwriters.filtros.LogInActivo</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>openSessionInViewFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CharacterEncoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LogInActivo</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- Servlets -->
  <servlet>
    <display-name>BuscarInformacionFormularios</display-name>
    <servlet-name>BuscarInformacionFormularios</servlet-name>
    <servlet-class>mx.ipn.escom.socialwriters.accesoDB.utilidades.BuscarInformacionFormularios</servlet-class>
  </servlet>
  <servlet>
    <display-name>Acciones</display-name>
    <servlet-name>Acciones</servlet-name>
    <servlet-class>mx.ipn.escom.socialwriters.accesoDB.utilidades.Acciones</servlet-class>
  </servlet>
  <servlet>
    <display-name>RegistrarUsuario</display-name>
    <servlet-name>RegistrarUsuario</servlet-name>
    <servlet-class>mx.ipn.escom.socialwriters.accesoDB.control.usuario.RegistrarUsuario</servlet-class>
  </servlet>
  <servlet>
    <display-name>EditarPerfil</display-name>
    <servlet-name>EditarPerfil</servlet-name>
    <servlet-class>mx.ipn.escom.socialwriters.accesoDB.control.usuario.EditarPerfil</servlet-class>
  </servlet>
  <servlet>
    <display-name>CrearObra</display-name>
    <servlet-name>CrearObra</servlet-name>
    <servlet-class>mx.ipn.escom.socialwriters.accesoDB.control.usuario.CrearObra</servlet-class>
  </servlet>
  <servlet>
    <display-name>CrearCapitulo</display-name>
    <servlet-name>CrearCapitulo</servlet-name>
    <servlet-class>mx.ipn.escom.socialwriters.accesoDB.control.usuario.CrearCapitulo</servlet-class>
  </servlet>
  <servlet>
    <display-name>HacerDenuncia</display-name>
    <servlet-name>HacerDenuncia</servlet-name>
    <servlet-class>mx.ipn.escom.socialwriters.accesoDB.control.usuario.HacerDenuncia</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>BuscarInformacionFormularios</servlet-name>
  	<url-pattern>/BuscarInformacionFormularios</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Acciones</servlet-name>
  	<url-pattern>/Acciones</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegistrarUsuario</servlet-name>
  	<url-pattern>/RegistrarUsuario</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CrearObra</servlet-name>
  	<url-pattern>/CrearObra</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CrearCapitulo</servlet-name>
  	<url-pattern>/CrearCapitulo</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>HacerDenuncia</servlet-name>
  	<url-pattern>/HacerDenuncia</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditarPerfil</servlet-name>
  	<url-pattern>/EditarPerfil</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>180</session-timeout>
  </session-config>
</web-app>